@use "../../styles/variables/breakpoints.scss";

.container {
  max-width: 100vw;
  max-width: 100dvw;
  height: 100vh;
  height: 100dvh;

  ul {
    margin-top: 6.875rem;
  }

  @media screen and (min-width: breakpoints.$small) {
    ul {
      margin-top: 5rem;
    }
  }
}